/* 상단바 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    height: 100%;
    position: relative;
    background-color: #303030;
    font-family: 'roboto', sans-serif;
}






/* 상단 바 */



#top-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
}

/* 로고 부분 */
#home-logo{
    position: fixed;
    display: flex;
    left: 0%;
}

/* 검색 부분 */
#home-search-div {
    display: flex;
    width : 60%;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    left: 20%;
}

.search{
    display: flex;
    flex-direction: row;
    width: 60%;
}

#search-bar {
    background-color: black;
    color: white;
    border: 1px solid rgba(219, 219, 219, 0.3);
    outline: none;
    width: 100%;
}/* 검색 부분 */


/* 상단 우측 부분 */
#home-info-div {
    position: fixed;
    right: 0%;
    float: right;
    display: flex;
}

#home_profile {
    margin-top: 0.4rem;
    margin-top: 0.4rem;
    margin-right: 1.5rem;
}/* 상단 우측 부분 */


/* 상단바 끝*/


/* top menu필터  */
/* 필터 */

/* 필터 자리 만들어짐 */
.filter-lists{
    position: fixed;
    left: 240px;   
    top: 60px;
    width: calc(100% - 250px);
    height: 60px;
    border-top: 1px solid rgba(219, 219, 219, 0.3);
    border-bottom: 1px solid rgba(219, 219, 219, 0.3);
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

}


.filter-lists::-webkit-scrollbar{
    display: none;
}

/* 버튼 둥글게 */
.filters{       
    z-index: 1;
    margin-left: 60px; 
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: #303030;
    border: 1px solid rgba(189, 189, 189, 0.3);
    
    /* 첫번째 대문자로 바꾸는 거 */
    text-transform: capitalize; 

    margin-right: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer; 
}

.filters:focus{
    color: black;
    background: white;
}


/* 탑메뉴 끝 */




/* 네비게이션 */
section {
    display: flex;
    width: 100%;
    height: 100%;
}

#left-nav {
    width: 20%;
    background-color: #303030;
    color: white;
    min-width: 10%;
}


/* 은철님 코드 추가 */
/* left-nav (s) */
.channel-left-nav{
    position: fixed;
    top: 56px;
    left: 0;
    min-width: 240px;
    width: 240px;
    height: 100%;
    background: #212121;
    padding-right: 10px;
    overflow-y: auto ;
    /* 넘치면 아래로 스크롤 해서 보기 */
}

.channel-left-nav::-webkit-scrollbar{
    display: none;
}

.channel-left-nav > p{
    color: white;
    margin-left:1rem;
    margin-bottom:0.3rem;
}


.links{
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links img{
    height: 25px;
    margin-right: 20px;
}

.links:hover, .links.active{
    background: rgba(0, 0, 0, 0.1);
}

.seperator{
    border: none;
    border-bottom: 1px solid #AAAAAA;
    margin: 20px 0;
}
/* left-nav (e) */


ul{
    list-style-type: none;
    border-bottom: #212121 2px solid;
}
ul > li {
    margin-left: 10%;
}

   
li{
    list-style-type: none;
    justify-content: start;
    margin-top: 2%;
    margin-bottom: 2%;
}

ul > span {
    margin-top: 4%;
}


li > span{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: blue 2px solid; */
}


#videos-container {
    background-color: #212121;
    width: 100%;
    margin-top:65px;
    margin-left: 100px;
}

/* .body-container {
    background-color: black;
    align-items: stretch;
    color: white;
    height: 80%;
} */

/* 비디오들 */
.body-container{
    width: calc(100% - 250px);
    margin-top: 120px;
    margin-left: 200px;
    padding: 20px;
    display: grid;
    /* grid-template-columns: repeat(4, 25%); */
    grid-gap: 20px 5px;
    overflow-x: hidden;

}


.nav-lists {
    text-align: start;
}

/* 네비게이션 끝*/