@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* 유미 수정 */
.play-container{
    padding-left: 2%;
    padding-top: 3%;
}

.main-section{
    display: flex;  /*내용물의 크기만큼만 가로로 정렬함+ 컬럼의 높이가 자동으로 맞음*/
    width: 100%;  /*컨테이너가 더이상 아이템들을 한줄에 담을 공간 없을때 어케할건지 wrap은 밑으로 내려가게함*/
    justify-content: center;
}

.play-video{
    flex-basis: 69%; /*아이템의 크기 결정*/
}

.right-sidebar{
    width:40%;
    /* flex-basis: 30%; */
}

.play-video video{
    width: 100%;
}

.side-video-list{
    display: flex;
    margin-bottom: 8px;
}

.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}

.play-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.play-video h3{
    font-weight: 600;
    font-size: 22px;
}

.play-video video{
    margin-left: 3rem;
    margin-top: 5rem;
}
.video-mainInfo h5,h3,h6{
    margin-left: 3rem;
}
.comments{
    margin-left: 3rem;
}
.right-sidebar {
    margin-top: 5rem;

}

/* 사이드 영상 조절 */
.right-sidebar video {
    max-width: 40%;
    max-height: 40%;
}
/*  */


/* 좋아요 싫어요 등 아이콘들 한줄에 배치  */
.user-logo img{
    height: 50px;
    margin-left: 4rem;
    margin-top: 1rem;
    border-radius: 50%;
}

.behavior-box {
    display: flex;
    justify-content:space-between;
}

.Subscribes-Btn{
    color: black;
    padding:10px;
}
.behavior-icon-more img{
    width: 30px;
}
/*  */



/*사이드바 영상 글부분*/

.video-info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.video-info h3{
    display: inline-block;
    
}

.view-date {
    display: inline-block;
    margin-left: 3rem;
    
    
}


/**/



/* 댓글라인  */
.total-info{
    margin-left: 1rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.total-info span{
    padding-right: 2rem;
}

.add-comment{
    margin-left: 1rem;
    margin-bottom:2rem;
}

.add-comment input{
    height: 50px;
    width: 1000px;
    background-color: black;
}


/*  */




/* 상단 우측 부분 */
#home-info-div {
    position: fixed;
    right: 0%;
    float: right;
    display: flex;
    cursor: pointer;
}

#home_profile img{
    height: 30px;
}

#home_profile {
    margin-top: 0.4rem;
    margin-right: 1rem;
    margin-left: 0.4rem;
    cursor: pointer;
    

}/* 상단 우측 부분 */



/* 구독 및 아이콘들 */

/* HTML 요소들을 flex 컨테이너로 설정 */
.behavior-box {
    display: flex;
    align-items: center; /* 요소들을 세로로 중앙 정렬 */
  }
  
  /* user-logo와 behavior 요소들을 한 줄에 정렬 */
  .user-logo,
  .behavior {
    display: flex;
    align-items: center; /* 요소들을 세로로 중앙 정렬 */
  }
  

  
  /* 버튼 디자인 조정 */
  .Subscribes-Btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: 10px; /* 필요한 간격을 설정해줍니다. */
  }
  

/*  */






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}

body {
    position: relative;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color:white;
}

footer {
    display: flex;
    flex-direction: column;
    color: white;
}

a{
    margin: 0 .25rem;
    text-decoration: none;
}

ul{
    margin: .25rem;
}

li{
    margin: .25rem;
    flex: none;
    font-size: .75rem;
    list-style-type: none;
}

button{
    margin: 0 .25rem;
    flex: none;
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    background: #f8f8f8;
    border-radius: 2px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
  }

h3 {
    font-size: .8125rem;
    font-weight: 500;
}

h5 {
    font-size: .8rem;
    margin: .4rem 0;
}

p{
    font-size: .75rem;
}

textarea {
    border: 1px solid #e2e2e2;
    line-height: 2;
    font-size: .75rem;
}

span {
    color: #767676;
    font-size: .6875rem;
}

strong {
    font-weight: 500;
}

i {
    padding-right: .4rem;
}

iframe {
    width: 400px;
    height: 240px;
}

/* 상단 바 */
#top-bar {  /* 기본 설정 */
    background-color: #212121;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* 로고 부분 */
#home-logo{
    display: flex;
    cursor: pointer;
}/* 로고 부분 */



/* 검색 부분 */
#home-search-div {
    display: flex;
    width : 60%;
    justify-content: center;
    flex-direction: row;
}

.search{
    display: flex;
    flex-direction: row;
    width: 60%;
    cursor: pointer;
}

#search-bar {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    width: 90%;
}

#voice-search {
    float: right;
    display: flex;
    cursor: pointer;
}
/* 검색 부분 */

/* left-nav (s) */
.channel-left-nav{
    display: none;
    position: fixed;
    top: 56px;
    left: 0;
    min-width: 240px;
    width: 240px;
    height: 100%;
    background: #212121;
    padding-right: 10px;
}

.links{
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links img{
    height: 25px;
    margin-right: 20px;
}

.links:hover, .links.active{
    background: rgba(0, 0, 0, 0.1);
}

.seperator{
    border: none;
    border-bottom: 1px solid #AAAAAA;
    margin: 20px 0;
}
/* left-nav (e) */



/* 상단 우측 부분 */
#home-info-div {
    float: right;
    display: flex;
    cursor: pointer;
}

#home_profile {
    margin-right: 1.5rem;
    cursor: pointer;
}/* 상단 우측 부분 */


/* 상단바 끝*/

/* 폰트 사이즈 고정 */
.icons { font-size: 18px;}

.footer{
    min-width: 1000px;
}

.footer-links{
    display: flex;
    border-top: 1px solid #e2e2e2;
    padding-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0;
    padding-right: 0;
}

.footer-links2{
    display: flex;
    padding-bottom: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0;
    padding-right: 0;
}

.content{
    display: flex;
    flex-direction: column;
    color: white;
    display: flex;
    align-items: center;
}

.aside{
    width: 400px;
}

.aside-span {
    display: block;
}

.img-aside{
    margin-right: 1rem;
    width: 120px;
    height: 90px;
}

.media{
    display: flex;
    align-items: flex-start;
}

.media-body{
    flex: 1;
}

.media-aside{
    border-bottom: 1px solid #e2e2e2;
}

.media-profile {
    height: 48px;
    width: 48px;
}

.main{
    width:400px;
}

.comments{
    display: none;
}

.info{
    padding: .5rem;
}

.username{
    font-weight: 500;
    color: #167ac6;
}

.sub {
    display: flex;
}

.More {
    text-align: center;
    padding-top: .5rem;
    border-top: 1px solid #e2e2e2;
}

.logo {
    height: 30px;
    width: 72px;
}

/* 댓글 */

.add-comment{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.add-comment > span > img{
    width:40px;
    height:40px;
    margin-right:10px;
}

.add-comment > input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color:#007bff;
    padding-left: 10px;
}

.add-comment :hover{
    border-color:#0000ff;
}

.comments{
    display: flex;
    flex-direction: column;
}

.container-comment{
    padding: 10px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.container-comment img{
    margin-right:10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/*비디오 리스트*/

.small-thumbnail > img{
    width:60px;
    height:60px;
}


@media all and (min-width: 650px) {
    .content {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .aside {
      width: 350px;
      flex: none;
    }
    .main { 
      width: 640px;
      flex: none;
      margin-right: 8px;
    }
    iframe {
      width: 640px;
      height: 350px;
    }
    .btn-upload,
    .btn-notifications,
    .comments {
      display: block;
    }
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    background-color: #212121;
    border-color:#303030;
    color: white;
    height: 56px;
}
.navigations{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.search-bar{
    background-color: white;
    height: 25px;
}

.search{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons{
    display: flex;
    flex-direction: row;
}


/*info*/

section{
    background-color: black;
}
.player{
    padding: 0px 10px 0px 10px;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: black;
}

video{
    width:100%;
    max-width: 1000px;
    height: 100%;
}

.info{
    padding: 10px 10px 10px 10px ;
    display:flex;
    flex-direction: column;
}
.info .metadata{
    padding-bottom: 10px;
    display:flex;
    flex-direction: column;
    border-color:gray;
}
.info .metadata .actionsAndViews{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}
